.account-page-wrapper {
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
  display: block;
}

.account-page-wrapper .user-posts-header {
  max-width: 800px;
  font-size: 22px;
  margin: 25px 0 20px 10px;
  font-weight: bold;
}

@media (min-width: 700px) {
  .account-page-wrapper .user-posts-header {
    margin: 25px auto 20px;
  }
}

.account-page-wrapper .data-items {
  font-size: 16px;
  margin: 10px 0 10px 20px;
  max-width: 800px;
}

@media (min-width: 1100px) {
  .account-page-wrapper .data-items {
    font-size: 18px;
  }
}

.account-page-wrapper .data-items div {
  margin-top: 10px;
}

.account-page-wrapper .data-items .your-account {
  font-weight: 700;
  font-size: 20px;
}

@media (min-width: 700px) {
  .account-page-wrapper .data-items {
    margin: 25px auto 20px;
  }
}

.account-page-wrapper .user-post {
  position: relative;
  margin: 0 auto 60px;
  line-height: 25px;
  border: 1px solid #e9e9e9;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.account-page-wrapper .user-post .title {
  border: 1px solid #e9e9e9;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.account-page-wrapper .user-post .title::first-letter {
  text-transform: uppercase;
}

.account-page-wrapper .user-post .text {
  padding: 10px;
  font-size: 15px;
}

.account-page-wrapper .user-post .text::first-letter {
  text-transform: uppercase;
}

.account-page-wrapper .user-post .user-post-image img {
  width: 100%;
  display: block;
  height: 100%;
  max-height: 500px;
  margin: 0px auto 0px;
}

.account-page-wrapper .user-post-date {
  margin: 0 0 0 10px;
}

.account-page-wrapper .post__likes__comments {
  border-top: 1px solid #e9e9e9;
}

.account-page-wrapper .post__likes__comments__deleteBtn {
  background-color: #fff;
  display: flex;
  padding: 20px 10px;
}

.account-page-wrapper .post__likes__comments__deleteBtn div {
  margin-left: 10px;
  color: #3f78a0;
}

.account-page-wrapper .post__likes__comments__deleteBtn div i {
  cursor: pointer;
}

.account-page-wrapper .post__likes__comments__deleteBtn div i:hover {
  color: #214258;
}

@media (min-width: 1100px) {
  .account-page-wrapper .user-post .title {
    font-size: 22px;
  }
  .account-page-wrapper .user-post .text {
    font-size: 16px;
    line-height: 28px;
    padding: 10px 20px;
    letter-spacing: 1px;
  }
  .account-page-wrapper .user-post-date {
    margin: 10px 0 0 20px;
  }
  .account-page-wrapper .post__likes__comments__deleteBtn {
    font-size: 18px;
  }
  .account-page-wrapper .user-post-likes i, .account-page-wrapper .user-post-comments i {
    margin-right: 3px;
  }
}
